ENGLISH7_SERVICE_NAME=english7-api
ENGLISH7_API_PREFIX=/api/v1

COMPOSE_PROJECT_NAME=english7
API_HOST_PORT=8000

SQLSERVER_IMAGE=mcr.microsoft.com/mssql/server:2022-latest
SQLSERVER_EDITION=Developer
SQLSERVER_HOST_PORT=1433
SQLSERVER_SA_PASSWORD=ChangeThis_LocalOnly_123!
SQLSERVER_DATABASE=english7
ENGLISH7_DATABASE_URL=mssql+pyodbc://sa:ChangeThis_LocalOnly_123!@sqlserver:1433/english7?driver=FreeTDS&TDS_Version=8.0
ENGLISH7_JWT_SECRET=ReplaceWithAtLeast32RandomCharacters
ENGLISH7_JWT_ALGORITHM=HS256
ENGLISH7_ACCESS_TOKEN_MINUTES=30
ENGLISH7_WORKER_POLL_INTERVAL_SECONDS=2

NEO4J_IMAGE=neo4j:5.26-community
NEO4J_USER=neo4j
NEO4J_PASSWORD=ChangeThis_LocalOnly_456!
NEO4J_HTTP_HOST_PORT=7474
NEO4J_BOLT_HOST_PORT=7687

MINIO_IMAGE=minio/minio:latest
MINIO_MC_IMAGE=minio/mc:latest
MINIO_ROOT_USER=english7-local
MINIO_ROOT_PASSWORD=ChangeThis_LocalOnly_789!
MINIO_API_HOST_PORT=9000
MINIO_CONSOLE_HOST_PORT=9001
MINIO_MEDIA_BUCKET=english7-media
MINIO_UPLOAD_BUCKET=english7-uploads
